* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  &:focus {
    outline: 2px solid var();
    outline-offset: -1px;
  }
}

:root {
}

#root {
  height: 100vh;
  .App {
    height: 100%;
    color: var(--primary-color-1);
    .Calculator {
      header {
      }
      .screen {
      }
      .buttons {
      }
    }
  }
}
