@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

* {
  font-family: "League Spartan", sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

#root {
  height: 100vh;
  .App {
    height: 100%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    button {
      cursor: pointer;
      border: none;
      &:hover {
        filter: brightness(1.2);
      }
    }
    .Calculator {
      width: 500px;
      header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        .top-container {
          .numbers {
            display: flex;
            justify-content: space-around;
            font-size: 1rem;
            width: 80px;
          }
        }
        .bottom-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          width: 100%;
          .title {
            font-size: 2.2rem;
          }
          .theme-container {
            display: flex;
            align-items: flex-end;
            .theme-container-paragraph {
              font-size: 1rem;
              margin-right: 3rem;
            }
            .button-container {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 85px;
              .theme-button-container {
                height: 30px;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: 50px;
                padding: 0.3rem;
                .theme-button {
                  height: 100%;
                  border-radius: 50%;
                  background: none;
                  svg {
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }
        }
      }
      .screen {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 10px;
        height: 100px;
        .display {
          font-size: 3rem;
        }
      }
      .keypad {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 50px);
        gap: 1rem;
        padding: 1rem;
        border-radius: 10px;
        .key {
          font-size: 2rem;
          height: 100%;
          border-radius: 7px;
        }
        :nth-child(4),
        :nth-child(17) {
          font-size: 1.7rem;
        }
        :nth-child(17) {
          grid-column: 1 / span 2;
        }
        :nth-child(18) {
          grid-column: 3 / span 2;
        }
      }
    }
  }
}
