* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  &:focus {
    outline: 2px solid var(--primary-color-1);
    outline-offset: -1px;
  }
}

:root {
  --primary-color-1: rgb(40, 40, 40);
}

#root {
  height: 100vh;
  .App {
    height: 100%;
    color: var(--primary-color-1);
  }
}
